<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mail">
    <insert id="insert">
        insert into email values(email_id_seq.nextval, 0, #{sender_email}, #{recipient_email}, #{title}, #{content}, sysdate)
        <selectKey order="AFTER" keyProperty="id" resultType="int">
            select email_id_seq.currval from dual
        </selectKey>
    </insert>

    <select id="findByList" resultType="int">
        select id from email_address_user where emailAddress = #{value}
    </select>

    <insert id="insertState">
        insert into email_state(id, emailId, emailUserId) values (EMAIL_STATE_ID_SEQ.nextval, #{mailId}, #{employeeId})
    </insert>

</mapper>